@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-button {
  color: white !important;
  transition: 2s;
  border: none;
}
.custom-button:hover {
  background-position: bottom;
}


@layer base {
  body {
    font-family: "Poppins", sans-serif;
  },
  @apply component {
    .bg-thumb {
      @apply bg-[#39ADF8]
    }
  }
}
